.search-container {
    text-align: center;
    margin-bottom: 30px;
}

#searchInput {
    width: 50%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

#searchInput:focus {
    outline: none;
    border-color: var(--primary-color);
}

.features-section {
    padding: 60px 30px;
    text-align: center;
    background-color: var(--white-bg);
    margin-bottom: 60px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.features-section h3 {
    font-family: var(--font-heading);
    font-size: 2.5em;
    color: var(--dark-text-color);
    margin-bottom: 50px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Columnas responsivas */
    gap: 30px;
}

.feature-item {
    background-color: rgba(180, 179, 179, 0.2);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.feature-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.feature-item img {
    width: 100%;         /* sigue ocupando todo el ancho de la tarjeta */
    height: 250px;       /* aumenta la altura para que se vea más grande */
    object-fit: cover;   /* mantiene la proporción y recorta si es necesario */
    border-radius: 8px;  /* opcional, para que coincida con la tarjeta */
    margin-bottom: 20px; /* separa la imagen del título */
}

.feature-item h4 {
    font-family: var(--font-heading);
    font-size: 1.5em;
    color: var(--primary-color);
    margin-bottom: 15px;
}

.feature-item p {
    font-size: 1em;
    color: var(--dark-text-color);
}


/*BARRA DE BUSQUEDA - FILTROS*/
.filtros {
    background: #f9f9f9;
    padding: 15px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 20px auto;
    max-width: 1200px;
}

.filtros-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fila-filtros {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.filtros-form input,
.filtros-form select {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    flex: 1 1 150px;
    transition: all 0.3s;
}

.filtros-form input:focus,
.filtros-form select:focus {
    border-color: #70a141;
    box-shadow: 0 0 5px #4b7c1d;
    outline: none;
}

.filtros-form button {
    padding: 10px 20px;
    background-color: #70a141;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filtros-form button:hover {
    background-color: #4b7c1d;
}