body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f0fdf4;
  color: #333;
}

/* HEADER *//*
header {
  background: linear-gradient(90deg, #006b3f, #00a84f);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  flex-wrap: wrap;
}
header h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  margin: 0;
}
header nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
header nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}
header nav a:hover { opacity: 0.8; }*/

/* MAIN */
.main-content {
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
}
.bienvenida h2 {
  font-family: 'Poppins', sans-serif;
  color: #006b3f;
}

/* CARDS */
.botones-panel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 30px;
}
.card {
  background-color: #fff;
  border-radius: 16px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
  cursor: pointer;
}
.card i {
  font-size: 2rem;
  color: #00a84f;
  margin-bottom: 10px;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

/* FOOTER */
footer {
  background-color: #006b3f;
  color: white;
  text-align: center;
  padding: 12px 0;
  margin-top: 40px;
}

/* MODAL */
.modal-fondo {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}
.modal-contenido {
  background: #fff;
  border-radius: 16px;
  padding: 30px;
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: aparecer 0.3s ease;
  position: relative;
}
.cerrar {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}
@keyframes aparecer {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* FORMULARIO */
.form-propiedad {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
.columna {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label { font-weight: 600; color: #333; }
input, select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.btn-enviar {
  background-color: #00a84f;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.btn-enviar:hover { background-color: #00904a; }

.acciones { 
    grid-column: span 3; 
    text-align:center;
}